# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Adjust the pins below if needed, i.e. if you don't plan to use the connectors configured in here

[board_pins octopus_11_tmc2209]
aliases:
# steppers

# Stepper Driver 1
  x_step_pin=PG0,
  x_dir_pin=PG1,
  x_enable_pin=PF15,
  x_cs_pin=PD11,

# Stepper Driver 0
  y_step_pin=PF13,
  y_dir_pin=PF12,
  y_enable_pin=PF14,
  y_cs_pin=PC4,
  
# Stepper Driver 5
  z0_step_pin=PC13,
  z0_dir_pin=PF0,
  z0_enable_pin=PF1,
  z0_cs_pin=PE4,

# Stepper Driver 6
  z1_step_pin=PE2,
  z1_dir_pin=PE3,
  z1_enable_pin=PD4,
  z1_cs_pin=PE1,

# Stepper Driver 7
  z2_step_pin=PE6,
  z2_dir_pin=PA14,
  z2_enable_pin=PE0,
  z2_cs_pin=PD3,
  
# Stepper Driver 3
  e_step_pin=PG4,
  e_dir_pin=PC1,
  e_enable_pin=PA0,
  e_cs_pin=PC7,

#endstops
  x_endstop_pin=PG6,
  y_endstop_pin=PG9,
  z_endstop_pin=PG10,

# accel
  adxl345_cs_pin=PA15,

# Z Probe
  bltouch_sensor_pin=PB7,
  bltouch_control_pin=PB6,

# fans
  fan_toolhead_cooling_pin=PA8,
  fan_part_cooling_pin=PE5,
  fan_controller_board_pin=PD12,

# Extruder heater
  e_heater_pin=PA2,
  e_sensor_pin=PF4,

# Bed heater
  heater_bed_heating_pin=PA1,
  heater_bed_sensor_pin=PF3,

# LED Lighting
  case_lighting=PA3
