#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: z0_step_pin
dir_pin: !z0_dir_pin
enable_pin: !z0_enable_pin
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 2.002981831
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: z_endstop_pin
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
## All builds use same Max Z
position_endstop: 362.16
position_max: 362.16
position_min: -0.8
homing_speed: 30.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 2
homing_retract_dist: 5

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z]
cs_pin: z0_cs_pin
spi_bus: spi1
run_current: 1.2
hold_current: 0.500
#stealthchop_threshold: 999999

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: z1_step_pin
dir_pin: !z1_dir_pin
enable_pin: !z1_enable_pin
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 2
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z1]
cs_pin: z1_cs_pin
spi_bus: spi1
run_current: 1.2
hold_current: 0.500
#stealthchop_threshold: 999999

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: z2_step_pin
dir_pin: !z2_dir_pin
enable_pin: !z2_enable_pin
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 2
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z2]
cs_pin: z2_cs_pin
spi_bus: spi1
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: PA7
#spi_software_sclk_pin: PA5
run_current: 1.2
hold_current: 0.500
#stealthchop_threshold: 999999

