#####################################################################
#   Extruder
#####################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
step_pin: e_step_pin
dir_pin: !e_dir_pin
enable_pin: !e_enable_pin
microsteps: 16
#rotation_distance: 7.823960880195599
rotation_distance: 7.9804400977995
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: e_heater_pin
sensor_type: ATC Semitec 104GT-2
sensor_pin: e_sensor_pin
min_extrude_temp: 160
min_temp: 0
max_temp: 325
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
control: pid
#pid_kp: 26.213
#pid_ki: 1.304
#pid_kd: 131.721
#Regular Hemera
#pid_kp: 29.720
#pid_ki: 1.572
#pid_kd: 140.425
#Revo Hemera
pid_Kp: 29.691
pid_Ki: 3.959
pid_Kd: 55.670

#[extruder]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
#gear_ratio: 50:17               #BMG Gear Ratio
#microsteps: 32
#full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
#nozzle_diameter: 0.400
#filament_diameter: 1.75
#heater_pin: PA2
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PF4
#min_temp: 10
#max_temp: 270
#max_power: 1.0
#min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 extruder]
cs_pin: e_cs_pin
spi_bus: spi1
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: PA7
#spi_software_sclk_pin: PA5
run_current: 0.8
hold_current: 0.500
stealthchop_threshold: 0 #999999
#diag1_pin: P1.29

#[tmc2209 extruder]
#uart_pin: e_uart_pin
#interpolate: false
#run_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 0
